.todo_style{
    display: flex;
}
.cross{
    font-size: 15px;
    color: white;
    border: none;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color:rgb(101, 101, 133) ;
}
.cross:hover{
    background-color: rgb(220, 59, 59);
    /* font-size: 21px; */
}